@inject IJSRuntime js


<div class="hearts-container"></div>


@code 
{
   
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("hearts");
        }
    }

}
