<div class="hearts-container">
    @foreach (var i in Enumerable.Range(1, 10))
    {
      <svg class="heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
       <path d="M12 21.35l-9.17-8.84c-3.13-3.02-.46-8.51 4.58-8.51 1.68 0 3.22.87 4.09 2.28C12.88 3.87 14.42 3 16.1 3c5.04 0 7.71 5.49 4.58 8.51L12 21.35z" />
       </svg>

    }
</div>

@code {

}
