@inject IJSRuntime js
@page "/meromfesten"
@inject NavigationManager NavigationManager; 
<PageTitle>Mer om dagen</PageTitle>
<div class="mycontainer container mr-0 pr-0 mr-md-3 pr-md-3 ">
<h1 class="headline">MER OM DAGEN</h1>
    <p class="headline3 mb-0">VIGSELN</p>
    <p class="mt-0 pt-0">
        Vigseln kommer att äga rum kl. 15.00 under den stora eken vid kvarntorps loge. I händelse av ruskväder kommer vigseln att hållas inne på logen. Vigselförrättare är Linn Sönstebö Mossberg.
    </p>
    <p class="headline3 mb-0">TAL OCH SPEX</p>  
    <p class="mt-0 pt-0">
        Om du vill säga några ord eller uppträda meddelar du detta till en av våra två eminenta
toastmasters, David Sjöö. Han nås på 073-386 77 13 eller david.sjoo@hotmail.com. För att
han och Nils Bergslid (den andre eminente toastmastern alltså) ska ha en sportslig chans
        att planera festen önskas anmälan senast fredagen den 11 augusti.OBS, i den tryckta inbjudan angavs fel telefonnummer och mailadress till David. Kontaktuppgifterna på den här sidan är de korrekta.
    </p>
    <p class="headline3 mb-0">KLÄDSEL</p>
    <p class="mt-0 pt-0">Ta på dig något som du känner dig festfin och bekväm i.</p>
    <p class="headline3 mb-0">GÄSTER</p>
    <p class="mt-0 pt-0">Vår dag firar vi i vuxet sällskap, men givetvis är barn som ännu inte lärt sig gå upprätt välkomna.</p>


</div>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("showBackground");
        }
    }
   
}

