@page "/meromfesten"
@inject KlarakarlServices service
@inject NavigationManager NavigationManager; 
<PageTitle>Mer om festen</PageTitle>

<h1>Mer information om festen</h1>
<h2>Innehåll kommer</h2>
@code {
   
}

