@page "/meromfesten"
@inject NavigationManager NavigationManager; 
<PageTitle>Mer om festen</PageTitle>
<div class="mycontainer">
<h1>Mer information om festen</h1>
<h2>Innehåll kommer</h2>
</div>
@code {
   
}

