@inject IJSRuntime js
@page "/vagbeskrivning"
@inject NavigationManager NavigationManager; 
<PageTitle>Vägbeskrivning</PageTitle>
<div class="mycontainer container mr-0 pr-0 mr-md-3 pr-md-3">
<h1 class="headline">VÄGBESKRIVNING</h1>
<p>
    Kvarntorps loge ligger söder om Frykeruds kyrka utanför Kil.
Adressen är Kvarntorp 16 665 92 Kil.
        <a href="https://goo.gl/maps/UCzuu2AkaU9ofgVJA">Här hittar du en vägbeskrivning</a>.
</p>
   <img src="/images/kvarntorp.png" class="img-fluid" />
</div>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("showBackground");
        }
    }
}

