@page "/vagbeskrivning"
@inject NavigationManager NavigationManager; 
<PageTitle>Vägbeskrivning</PageTitle>
<div class="mycontainer container">
<h1 class="headline">VÄGBESKRIVNING</h1>
<p>
    Kvarntorps loge ligger söder om Frykeruds kyrka utanför Kil.
Adressen är Kvarntorp 16 665 92 Kil.
        Här hittar du en vägbeskrivning <a href="https://goo.gl/maps/UCzuu2AkaU9ofgVJA">se på karta</a>.
</p>
   <img src="/images/kvarntorp.png" class="img-fluid" />
</div>
@code {
   
}

