@page "/vagbeskrivning"
@inject NavigationManager NavigationManager; 
<PageTitle>Vägbeskrivning</PageTitle>
<div class="mycontainer container">
<h1>Vägbeskrivning</h1>
<h2>Innehåll kommer</h2>
</div>
@code {
   
}

