@page "/vagbeskrivning"
@inject KlarakarlServices service
@inject NavigationManager NavigationManager; 
<PageTitle>Vägbeskrivning</PageTitle>

<h1>Vägbeskrivning</h1>
<h2>Innehåll kommer</h2>
@code {
   
}

