
@page "/"

<PageTitle>Klara & Karl - 2023-08-19</PageTitle>

<div class="mycontainer">
   <div class="custom-flex-container headline">
      <div class="karl">Karl</div>
      <div class="and">&</div>
      <div class="klara">Klara</div>
   </div>
   <div class="item">
      <img src="/images/heart.png" class="heart img-fluid">
   </div>
   <div class="breadtext">
      <KlaraKarl.Pagecomponents.Countdown></KlaraKarl.Pagecomponents.Countdown>
   </div>
</div>

  
       


