
@page "/"

<PageTitle>Klara & Karl - 2023-08-19</PageTitle>

<div class="mycointainer">
   <div class="custom-flex-container headline">
      <div>Karl</div>
      <div>&</div>
      <div>Klara</div>
   </div>
   <div class="item">
      <img src="/images/heart.png" class="heart">
   </div>
   <div class="breadtext">
      <KlaraKarl.Pagecomponents.Countdown></KlaraKarl.Pagecomponents.Countdown>
   </div>
</div>

  
       


