@media (min-width: 577px) {
    .container {
        max-width: 50vw;
    }
}

@font-face {
    font-family: 'lunchbox';
    src: url('fonts/lunchbox.ttf') format('truetype');
}
.custom-flex-container {
    display: flex;
    justify-content: center;
    gap: 1vw;
}
.mycontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:3vw;
}
.headline {
    text-transform: uppercase;
    font-weight: bold;
    color: #f39b01;
    font-family: lunchbox;
    font-size: 6vw;
}
.heart {
    width: 13vw;
    margin-top: -1vw
}
.breadtext {
    text-decoration: wavy;
    color: #2a2e30;
    font-size: 1.5vw;
    margin-top: 1vw;
    align-content:center;
}

/*Small sized displays */

@media only screen and (max-width: 577px) {
    .mycontainer {
        margin-top: 20vw;
       
    }
    .headline {
        font-size: 15vw;
    }
    
    .heartimg {
       

    }
    .heart {
        width: 25vw;
        margin-top: -1vw
    }

    .breadtext {
        font-size: 4vw;
        width:70vw;
    }
 
}
  