@page "/"

<PageTitle>Klara & Karl - 2023-08-19</PageTitle>

<div class="container d-flex flex-column justify-content-center align-items-center">
    <p class="headline">Karl & Klara</p>
    <div class="heart"></div>
    <p class="breadtext">Snart är det dags för bröllop och vi hoppas att få fira vår dag tillsammans med er.</p>
</div>
   
