
.custom-flex-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.mycontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.headline {
   text-transform: uppercase;
    font-weight: bold;
    color: #f39b01;
    font-family: LunchBox;
    font-size: 120px;
}
.heart {
    width: 850px;
    margin-top: -140px
}
.breadtext {
    text-decoration: wavy;
    color: #2a2e30;
    font-size: 50px;
    margin-top: -100px
}

/*Small sized displays */

@media only screen and (max-width: 577px) {
    .mycontainer {
        margin-top: 70px;
    }
    .headline {
        text-transform: uppercase;
        font-weight: bold;
        color: #f39b01;
        font-family: LunchBox;
        font-size: 85px;
        margin-top: -50px;
    }
    .custom-flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-gap: 0px;
    }
    .heart {
        width: 400px;
        margin-top: -100px
    }
    .karl {
        margin-bottom: -55px;
        text-align: center;
    }
    .klara {
        margin-top: -55px;
        text-align: center;
    }
    .and{
        text-align:center;
    }
    .breadtext {
        text-decoration: wavy;
        color: #2a2e30;
        font-size: 20px;
        margin-top: -70px;
        padding:40px;
    }
}
    /*table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }
    .breadtext {
        text-decoration: wavy;
        color: #2a2e30;
        font-size: xx-large;
    }
    .headline {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: #f39b01;
        font-family: LunchBox;
        font-size: 120px;
       
        justify-content:center;
    }

    .and {
     
        line-height: 40px;
    }
    .klara {
     
        line-height: 140px;

    }
    .karl {

        line-height: 140px;
           }
    .heart {*/

     /*    line-height: 10px;
         width: 50%;
         width:50px;
         height:auto;*/
       
    /*}
    .heartimg{
        height:400px;*/
        /*width:300px;*/
    /*}
    .test {
display:block;
position:absolute;
top: 280px; 
    }
    
    .breadtext {
        text-align: justify;
    }
    tr {
     
        text-align: center;
        align-content: center;
        justify-content: center;
        
      
    }

    td {
        text-align: center;
        align-content: center;
        justify-content: center;
      
    }

    table {
        border-spacing:0px;
        align-content: center;
        justify-content: center;
    }


  
}*/
/*Medium sized displays */
/*@media only screen and (min-width: 577px) and (max-width: 1200px) {


    .headline {
        white-space: nowrap;
    }
     .heart {
        margin-top: -80px;
        width: 80%;
    }
    tr {
        background-color:black;
        text-align: center;
        align-content: center;
        justify-content: center;
    }
    td {
        text-align: center;
        align-content: center;
        justify-content: center;
    }
    table{
        align-content:center;
        justify-content:center;
        
    }

}*/
