@inject Data.KlarakarldbContext service;


@code {
    public string bridename { get; set; }
    public string groomname { get; set; } 

    protected override void OnInitialized()
    {

        bridename = service.Participants.Where(a => a.ParticipantRoleId == 1).Single().ParticipantFirstname.ToString();
        groomname = service.Participants.Where(a => a.ParticipantRoleId == 2).Single().ParticipantFirstname.ToString();

    }

}
@page "/"

<PageTitle>Klara & Karl - 2023-08-19</PageTitle>

<div class="container mycontainer">
    <div class="row">
        <div class="col-sm">
            <div class="custom-flex-container headline container-fluid">
      <div class="karl">@groomname</div>
      <div class="and">&</div>
        <div class="klara">@bridename</div>
   </div>
   </div>
            <div class="row">
            </div>
        <div class="col-sm d-flex justify-content-center">
            <img src="/images/heart.png" id="heart" class="heart">
        </div>
        </div>
    <div class="row">

        <div class="breadtext col-sm d-flex justify-content-center">
            <KlaraKarl.Pagecomponents.Countdown></KlaraKarl.Pagecomponents.Countdown>
        </div>
    </div>
</div>

  
       


