@using System.Timers;
@inject KlarakarldbContext service;


@code {
    public string bridename { get; set; }
    public string groomname { get; set; } 

    protected override void OnInitialized()
    {

        bridename = service.Participants.Where(a => a.ParticipantRoleId == 1).Single().ParticipantFirstname.ToString();
        groomname = service.Participants.Where(a => a.ParticipantRoleId == 2).Single().ParticipantFirstname.ToString();

    }

}
@page "/"

<PageTitle>Klara & Karl - 2023-08-19</PageTitle>

<div class="mycontainer">
    <div class="custom-flex-container headline container-fluid">
      <div class="karl">@groomname</div>
      <div class="and">&</div>
        <div class="klara">@bridename</div>
   </div>
   <div class="item">
      <img src="/images/heart.png" class="heart img-fluid" id="heart">
   </div>
    <div class="breadtext container-fluid">
      <KlaraKarl.Pagecomponents.Countdown></KlaraKarl.Pagecomponents.Countdown>
   </div>
</div>

  
       


