@page "/"

<PageTitle>Klara & Karl - 2023-08-19</PageTitle>

<div class="container d-flex flex-column justify-content-center align-items-center">

    <div class="wrapper">
        <div class="headline">
            <span class="karl">Karl</span> <span class="and">& </span><span class="klara">Klara</span>
           </div>
 
        <img class="heart" src="/images/heart.png">

        <p class="breadtext"><KlaraKarl.Pagecomponents.Countdown></KlaraKarl.Pagecomponents.Countdown></p>
    </div>
</div>
   
