@page "/test"


<PageTitle>Bekräftelse</PageTitle>
<div class="container mycontainer">

    <h1>Tack för din anmälan BAJS</h1>
      <p>Du kommer få ett mail med kompletterande uppgifter skickat till KORV inom kort håll utkik i din mailinkorg. (OBS kan hamna i skräpposten)</p>
    <p>Fel mail? Skicka in en ny anmälan bara &#128522</p>


   
</div>
<KlaraKarl.Pagecomponents.HeartComponent></KlaraKarl.Pagecomponents.HeartComponent>

@code {
    
}
