@inherits LayoutComponentBase

<PageTitle>Karl & Klara - 2023-08-19 - ADMIN</PageTitle>

<div class="page page-background-class">
   
    <header>
   
     </header>
    <main>
     @Body
    </main>
</div>
