@inherits LayoutComponentBase

<PageTitle>Klara & Karl - 2023-08-19 - ADMIN</PageTitle>

<div class="page page-background-class">
   
    <header>
   
     </header>
    <main>
    <h1>Administration</h1>
     @Body
    </main>
</div>
