@inherits LayoutComponentBase

<PageTitle>Klara & Karl - 2023-08-19</PageTitle>

<div class="page page-background-class">
   

    <main>
        <div class="top-row px-4">
            <a href="/osa" target="_blank">OSA</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Plats</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Gästbok</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Bilder</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Om festen</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
