@inherits LayoutComponentBase

<PageTitle>Klara & Karl - 2023-08-19</PageTitle>

<div class="page page-background-class">
   
    <header>
   
     </header>
    <main>

        <TopMenu />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
