@inherits LayoutComponentBase

<PageTitle>Klara & Karl - 2023-08-19</PageTitle>

<div class="test">
   
    <header>
   
     </header>
    <main>

        <TopMenu />
        <div class="myclass">
            @Body
            </div>
  </main>
</div>

