@inject NavigationManager NavigationManager;
@inject IJSRuntime jsRuntime


@code {
  
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
   
    string divClass = "toggleoff";

    private void setdisplay()
    {
        if (divClass == "toggleoff")
        {
            divClass = "toggleon";
        }
        else
        {
            divClass = "toggleoff";
        }
    }

}
<img class="togglericon" src="/images/Hamburgarmeny.png" @onclick="setdisplay" />

<div class="topmeny-flex-container container-fluid @divClass sm-fixed-top">
    <div id="homebtn" class="homebtn menuitems nav-link"> <a class="nav-link" href="/" @onclick="setdisplay">Start</a></div>
    <div class="menuitems"> <a class="nav-link text-nowrap" href="meromfesten" @onclick="setdisplay">mer om dagen</a></div>
    <div class="menuitems"> <a class="nav-link" href="osa" @onclick="setdisplay">anmälan</a></div>
    <div class="menuitems"> <a class="nav-link" href="brollopskoren" @onclick="setdisplay">bröllopskören</a></div>
    <div class="menuitems"> <a class="nav-link" href="vagbeskrivning" @onclick="setdisplay">vägbeskrivning</a></div>
</div>
