@code {
    //string topmenytoggleclass { get; set; } 
    
    //bool displaymenu { get; set; } = false; 
    //private void setdisplay()
    //{
    //    if(displaymenu == true)
    //    {
    //        displaymenu = false;
    //    } 
    //    else
    //    {
    //        displaymenu = true;
    //    }
    //}
    string divClass = "toggleoff";

    private void setdisplay()
    {
        if (divClass == "toggleoff")
        {
            divClass = "toggleon";
        }
        else
        {
            divClass = "toggleoff";
        }
    }
}
<img class="togglericon" src="/images/Hamburgarmeny.png" @onclick="setdisplay" />
<div class="topmeny-flex-container @divClass">
    <div class="menuitems"> <a class="nav-link" href="meromfesten">mer om dagen</a></div>
    <div class="menuitems"> <a class="nav-link" href="osa">anmälan</a></div>
    <div class="menuitems"> <a class="nav-link" href="brollopskoren">bröllopskören</a></div>
    <div class="menuitems"> <a class="nav-link" href="vagbeskrivning">vägbeskrivning</a></div>
</div>
