/*.navbar-toggler {
    background-color: rgba(229, 227, 204, 1);
}
*/
/*.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}*/

.nav-item {
    background-color: #8ca18e;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    text-align:center;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}
.nav-link {
    font-weight: bold;
    color:#e5e3cc;
    align-items: center;
    text-align: center;
    display: contents;
}

.navbar-custom {
    margin-top:50px;
    align-items:center;
    color:blue;

}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243,155,1, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(243,155,1);
} 


    /*.nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }*/

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
/*     Never collapse the sidebar for wide screens 
*/    display: block;
    }

    .nav-scrollable {
/*     Allow sidebar to scroll for tall menus 
*/    height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/*Small sized displays */

@media only screen and (max-width: 510px) {
   
}
/*Medium sized displays */
@media only screen and (min-width: 510px) and (max-width: 1200px) {



    .navbar-toggler {
        display: none;
    }

    .collapse {
        /*     Never collapse the sidebar for wide screens 
*/ display: block;
    }

    .nav-scrollable {
        /*     Allow sidebar to scroll for tall menus 
*/ height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
    .nav-link {
        font-weight: bold;
        color: #e5e3cc;
        align-items: center;
        text-align: center;
        display: contents;
        background-color: blue;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
}

