.togglericon {
    display: none;
}
.nav-link {
    font-weight: bold;
    color: #e5e3cc;
    align-items: center;
    text-align: center;
    display: contents;
    text-transform: uppercase;
    padding:200px;
}


.topmeny-flex-container {
    margin-top:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 240px;
}
.menuitems {
    background-color: #8ca18e;
    border-radius: 25px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 20px;
    flex-basis: calc(100% / 8);
}

.homebtn {
    margin-top: -2vw;
    position: absolute;
    background-color: #8ca18e;
    border-radius: 25px;
    height: 70px;
    text-align:center;
    left: 50%;
    transform: translate(-50%, -50%);
    width:7vw;

}
.togglehomebtnoff{
    display:none;
}
.togglehomebtnon {
    display: block;
}
/*Small sized displays */
@media only screen and (max-width: 577px) {
    .topmeny-flex-container {
         margin-top: -40px;

        margin-left:10vw;
        position: absolute;
        flex-direction: column;
        column-gap: 1000px;
    }
    .menuitems {
        background-color: #8ca18e;
        border-radius: 25px;
        width:60vw;
        margin:5vw;
    }
    .togglericon {
        display:block;
        width:200px;
        height:auto;
        position:absolute;
        margin-top:-140px;
        margin-left:-50px;
    }
    .divClass{
        display: block;
    }
    .toggleon {
        display: block;
    }
    .toggleoff {
        display: none;
    }
    .homebtn {
        background-color: #8ca18e;
        border-radius: 25px;
        width: 60vw;
        margin: 5vw;
        margin-top: initial;
        position: initial;
        background-color: #8ca18e;
        border-radius: 25px;
        height: 70px;
        text-align:center;
        left: initial;
        transform: initial;
    
    }
    
 
}
/*Medium sized displays */
/*@media only screen and (min-width: 510px) and (max-width: 1200px) {



    .navbar-toggler {
        display: none;
    }*/
/*
    .collapse {*/
        /*     Never collapse the sidebar for wide screens 
*/ /*display: block;
    }

    .nav-scrollable {*/
        /*     Allow sidebar to scroll for tall menus 
*/ /*height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
    .nav-link {
        font-weight: bold;
        color: #e5e3cc;
        align-items: center;
        text-align: center;
        display: contents;
        background-color: blue;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }*/
/*}*/

